# Neural networks, Checkpoint #1

Faculty: FIIT <br>
Academic year: 2019/2020 <br>
Authors: Andrej Gáfrik, Martin Grega <br>


We had to change out source data to https://figshare.com/articles/Wikipedia_Detox_Data/4054689, because of bad formatting in data, which we couldn't solve.

In [5]:
# !pip install pandas
# !pip install nltk
# !pip install tokenizer

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/52/3f/f6a428599e0d4497e1595030965b5ba455fd8ade6e977e3c819973c4b41d/pandas-0.25.3-cp36-cp36m-manylinux1_x86_64.whl (10.4MB)
     |████████████████████████████████| 10.4MB 1.8MB/s eta 0:00:01    |██████████▉                     | 3.5MB 1.7MB/s eta 0:00:05
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.17.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.0)
Collecting pytz>=2017.2 (from pandas)
  Downloading https://files.pythonhosted.org/packages/e7/f9/f0b53f88060247251bf481fa6ea62cd0d25bf1b11a87888e53ce5b7c8ad2/pytz-2019.3-py2.py3-none-any.whl (509kB)
     |████████████████████████████████| 512kB 1.9MB/s eta 0:00:01     |█████████████▌                  | 215kB 1.9MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.6.1->pandas) (1.11.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-0.25.3 pytz-2019.3
WARNING: You are using pip version 19.2.3, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Collecting nltk
  Downloading https://files.pythonhosted.org/packages/f6/1d/d925cfb4f324ede997f6d47bea4d9babba51b49e87a767c170b77005889d/nltk-3.4.5.zip (1.5MB)
     |████████████████████████████████| 1.5MB 625kB/s eta 0:00:01     |█████████▌                      | 430kB 625kB/s eta 0:00:02     |██████████████████████████▏     | 1.2MB 625kB/s eta 0:00:01     |█████████████████████████████▍  | 1.3MB 625kB/s eta 0:00:01
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from nltk) (1.11.0)
Building wheels for collected packages: nltk
  Building wheel for nltk (setup.py) ... done
  Created wheel for nltk: filename=nltk-3.4.5-cp36-none-any.whl size=1450717 sha256=61db64710bb983ae5f0ed6e41dcf1a7a6e2749759f1c275bdc6a2cdf41b78866
  Stored in directory: /root/.cache/pip/wheels/96/86/f6/68ab24c23f207c0077381a5e3904b2815136b879538a24b483
Successfully built nltk
Installing collected packages: nltk
Successfully installed nltk-3.4.5
WARNING: You are using pip version 19.2.3, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Collecting tokenizer
  Downloading https://files.pythonhosted.org/packages/1a/ef/2e9a3f764907a46e965d0c311eab8312290dfe723ae10ed2d776583174e0/tokenizer-1.4.1-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 864kB/s eta 0:00:01
Installing collected packages: tokenizer
Successfully installed tokenizer-1.4.1
WARNING: You are using pip version 19.2.3, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [6]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
comments = pd.read_csv('../../data/attack_annotated_comments.tsv', sep='\t')
labels = pd.read_csv('../../data/attack_annotations.tsv', sep='\t')

In [4]:
comments = comments.drop(columns=['year','logged_in','ns','sample','split'])

In [5]:
comments

           rev_id                                            comment
0           37675  `-NEWLINE_TOKENThis is not ``creative``.  Thos...
1           44816  `NEWLINE_TOKENNEWLINE_TOKEN:: the term ``stand...
2           49851  NEWLINE_TOKENNEWLINE_TOKENTrue or false, the s...
3           89320   Next, maybe you could work on being less cond...
4           93890               This page will need disambiguation.
...           ...                                                ...
115859  699848324  `NEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKENThese ...
115860  699851288  NEWLINE_TOKENNEWLINE_TOKENThe Institute for Hi...
115861  699857133  NEWLINE_TOKEN:The way you're trying to describ...
115862  699891012  NEWLINE_TOKENNEWLINE_TOKEN== Warning ==NEWLINE...
115863  699897151  Alternate option===NEWLINE_TOKENIs there perha...

[115864 rows x 2 columns]

Problems in data:
 - tabular, new line and qoutes were replaced with tab_token, new_line token and `
 - punctuation
 - more spaces between words
 - empty strings
 - abbreviations like i will = i'll , didn't = did not, ...

In [6]:
labels = labels.drop(columns=['worker_id','quoting_attack','recipient_attack','third_party_attack','other_attack'])

In [7]:
labels

            rev_id  attack
0            37675     0.0
1            37675     0.0
2            37675     0.0
3            37675     0.0
4            37675     0.0
...            ...     ...
1365212  699897151     0.0
1365213  699897151     0.0
1365214  699897151     0.0
1365215  699897151     0.0
1365216  699897151     0.0

[1365217 rows x 2 columns]

In [8]:
res = labels.groupby('rev_id')['attack'].mean().reset_index()

In [9]:
res

           rev_id    attack
0           37675  0.000000
1           44816  0.000000
2           49851  0.000000
3           89320  0.444444
4           93890  0.000000
...           ...       ...
115859  699848324  0.111111
115860  699851288  0.100000
115861  699857133  0.000000
115862  699891012  0.200000
115863  699897151  0.000000

[115864 rows x 2 columns]

In [10]:
data = comments.join(res.set_index('rev_id'), on='rev_id')
data['attack'] = data['attack'].round(0)

In [11]:
data

           rev_id                                            comment  attack
0           37675  `-NEWLINE_TOKENThis is not ``creative``.  Thos...     0.0
1           44816  `NEWLINE_TOKENNEWLINE_TOKEN:: the term ``stand...     0.0
2           49851  NEWLINE_TOKENNEWLINE_TOKENTrue or false, the s...     0.0
3           89320   Next, maybe you could work on being less cond...     0.0
4           93890               This page will need disambiguation.      0.0
...           ...                                                ...     ...
115859  699848324  `NEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKENThese ...     0.0
115860  699851288  NEWLINE_TOKENNEWLINE_TOKENThe Institute for Hi...     0.0
115861  699857133  NEWLINE_TOKEN:The way you're trying to describ...     0.0
115862  699891012  NEWLINE_TOKENNEWLINE_TOKEN== Warning ==NEWLINE...     0.0
115863  699897151  Alternate option===NEWLINE_TOKENIs there perha...     0.0

[115864 rows x 3 columns]

In [12]:
data.info()
data.isnull().values.any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115864 entries, 0 to 115863
Data columns (total 3 columns):
rev_id     115864 non-null int64
comment    115864 non-null object
attack     115864 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.7+ MB

False

In [13]:
# In out data are newlines, tabulators and quotions marks replaced, so we need to delete this replacement
data['comment'] = data['comment'].apply(lambda x: x.replace("NEWLINE_TOKEN",""))
data['comment'] = data['comment'].apply(lambda x: x.replace("TAB_TOKEN",""))
data['comment'] = data['comment'].apply(lambda x: x.replace("``",'"'))

In [14]:
# Source: https://www.kaggle.com/prashantkikani/pooled-gru-with-preprocessing
repl = {
    "&lt;3": " good ",
    ":d": " good ",
    ":dd": " good ",
    ":p": " good ",
    "8)": " good ",
    ":-)": " good ",
    ":)": " good ",
    ";)": " good ",
    "(-:": " good ",
    "(:": " good ",
    "yay!": " good ",
    "yay": " good ",
    "yaay": " good ",
    "yaaay": " good ",
    "yaaaay": " good ",
    "yaaaaay": " good ",
    ":/": " bad ",
    ":&gt;": " sad ",
    ":')": " sad ",
    ":-(": " bad ",
    ":(": " bad ",
    ":s": " bad ",
    ":-s": " bad ",
    "&lt;3": " heart ",
    ":d": " smile ",
    ":p": " smile ",
    ":dd": " smile ",
    "8)": " smile ",
    ":-)": " smile ",
    ":)": " smile ",
    ";)": " smile ",
    "(-:": " smile ",
    "(:": " smile ",
    ":/": " worry ",
    ":&gt;": " angry ",
    ":')": " sad ",
    ":-(": " sad ",
    ":(": " sad ",
    ":s": " sad ",
    ":-s": " sad ",
    r"\br\b": "are",
    r"\bu\b": "you",
    r"\bhaha\b": "ha",
    r"\bhahaha\b": "ha",
    r"\bdon't\b": "do not",
    r"\bdoesn't\b": "does not",
    r"\bdidn't\b": "did not",
    r"\bhasn't\b": "has not",
    r"\bhaven't\b": "have not",
    r"\bhadn't\b": "had not",
    r"\bwon't\b": "will not",
    r"\bwouldn't\b": "would not",
    r"\bcan't\b": "can not",
    r"\bcannot\b": "can not",
    r"\bi'm\b": "i am",
    "m": "am",
    "r": "are",
    "u": "you",
    "haha": "ha",
    "hahaha": "ha",
    "don't": "do not",
    "doesn't": "does not",
    "didn't": "did not",
    "hasn't": "has not",
    "haven't": "have not",
    "hadn't": "had not",
    "won't": "will not",
    "wouldn't": "would not",
    "can't": "can not",
    "cannot": "can not",
    "i'm": "i am",
    "m": "am",
    "i'll" : "i will",
    "its" : "it is",
    "'s" : " is",
    "'s" : " is",
    "`d": " would",
    "that's" : "that is",
    "weren't" : "were not",
    "e.g" : "eg",
}

In [15]:
#splitting comments by spaces
comments = data['comment'].apply(lambda x: x.split())

In [16]:
import re
abbr = [i for i in repl.keys()]
result = []
for index in range(len(comments)):
    new_comment = ""
    for word in comments[index]:
        word = word.lower()
        word = re.sub(r"n't", " not", word)
        word = re.sub(r"\ 's", " not", word)
        word = re.sub(r"\ 've", " not", word)
        word = re.sub(r"\ 'd", " not", word)
        word = re.sub(r"\ ll", " not", word)
        if re.search("^http.+|^www.+",word): # deleting links
            continue
        elif word in abbr:
            new_comment += repl[word]
            new_comment += " "
            word = repl[word]
        elif re.search("[^a-zA-Z ]+",word): # only alphabet
            new_comment += re.sub("[^a-zA-Z ]+"," ",word)
            new_comment += " "
        else:
            new_comment += word  
            new_comment += " "
            
    new_comment = " ".join(new_comment.split())        
   # print("Old = ", comments[index])
   # print("New = ", new_comment)
    result.append(new_comment)
data["comment"] = result

In [17]:
pd.options.display.max_rows = 999
data

           rev_id                                            comment  attack
0           37675  this is not creative those are the dictionary ...     0.0
1           44816  the term standard model is itself less npov th...     0.0
2           49851  true or false the situation as of march was su...     0.0
3           89320  next maybe you could work on being less condes...     0.0
4           93890                 this page will need disambiguation     0.0
...           ...                                                ...     ...
115859  699848324  these sources do not exactly exude a sense of ...     0.0
115860  699851288  the institute for historical review is a peer ...     0.0
115861  699857133  the way you re trying to describe it in this a...     0.0
115862  699891012  warning there is clearly a protectionist regim...     0.0
115863  699897151  alternate option is there perhaps enough newsw...     0.0

[115864 rows x 3 columns]

In [18]:
# replacing empty strings with nan
data['comment'].replace('', np.nan, inplace=True)

In [19]:
# checking nan values on data
data.info()
data.isnull().values.any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115864 entries, 0 to 115863
Data columns (total 3 columns):
rev_id     115864 non-null int64
comment    115825 non-null object
attack     115864 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.7+ MB

True

In [20]:
# drop nan rows
data.dropna(subset=['comment'], inplace=True)
data = data.reset_index(drop=True)

# Stemming

In [21]:
from nltk.stem import SnowballStemmer

def stemmer(comment):
    stemmer = SnowballStemmer('english')
    words = comment.split()
    stemmed = [stemmer.stem(word) for word in words]
    stemmed
    return " ".join(stemmed)

t = data['comment'].map(lambda x: stemmer(x))

In [22]:
data['stemmed_comments'] = t

In [23]:
# saving cleaned data
data.to_csv('../../data/preprocessed_data.csv', encoding='utf-8')

# Tokenizing

In [7]:
data= pd.read_csv('../../data/preprocessed_data.csv', index_col=0)

In [8]:
import tensorflow.keras as keras
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from nltk.tokenize import word_tokenize

In [9]:
tokenizer = Tokenizer()

# Training of our tokenizer
tokenizer.fit_on_texts(data['stemmed_comments'])
#tokenizer.fit_on_texts(data['comment'])

# Number of unique words in our data
vocab_len = len(tokenizer.word_index) + 1

#converting comment into numeric form, each unique word has a number, so comment will be rewrite into numbers
embedded = tokenizer.texts_to_sequences(data['stemmed_comments'])

In [10]:
longest_sentence_len = len(max(embedded, key= len))

#Adding zeroes to end of eat embeded sentece to len of the longest sentence
padded_comments = pad_sequences(embedded, longest_sentence_len, padding='post')

# Glove embeddings

In [11]:
glove = open('../../data/glove.6B.50d.txt', encoding="utf8")
from numpy import array
from numpy import asarray

In [12]:
# Train and test data
size_train = round(len(padded_comments)* 0.8)

train_padded = padded_comments[:size_train]
train_attack =asarray(data['attack'][:size_train], dtype='int32')

test_padded = padded_comments[size_train + 1:]
test_attack = asarray(data['attack'][size_train + 1:], dtype='int32')

In [13]:
# Preparing glove dictonary
glove_dict = dict()

#according to glove file, first is word and next are vectors
for line in glove:
    splitted = line.split()
    word = splitted[0]
    vectors = asarray(splitted[1:], dtype='float32')
    glove_dict [word] = vectors 


glove.close()

In [14]:
from numpy import zeros
zle = 0
# create dict with only words in out data
word_matrix = zeros((vocab_len, 50))
# iterate throuh all words in our data and find vector for them
for word, index in tokenizer.word_index.items():
    vectors = glove_dict.get(word)
    if vectors is not None:
        word_matrix[index] = vectors # pretrained word embedings with words from our comments

# GRU

In [12]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding,GRU,Dense
from tensorflow.keras.initializers import Constant

def GRU_model():
    model = Sequential()
    embedding_layer = Embedding(vocab_len,50,embeddings_initializer = Constant(word_matrix),input_length=longest_sentence_len,trainable=False)
    model.add(embedding_layer)
    model.add(GRU(units = 1, dropout=0.2, recurrent_dropout = 0.2))
    model.add(Dense(1, activation='sigmoid'))
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model

In [21]:
model = GRU_model()
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_3 (Embedding)      (None, 2831, 50)          5603050
_________________________________________________________________
gru_2 (GRU)                  (None, 1)                 159
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 2
=================================================================
Total params: 5,603,211
Trainable params: 161
Non-trainable params: 5,603,050
_________________________________________________________________

In [ ]:
#Not working in notebook and docker, trained in google colab, screen of results in model
model.fit(train_padded,train_attack,batch_size=128, epochs=3, validation_data=(test_padded,test_attack),verbose=1)

Results of training (because used wrong verbose parameter :( )
- Epoch 1: 1110S - loss: 0.4846 - acc: 0.8798 - val_loss: 0.3513 - val_acc: 0.8951
- Epoch 2: 1284S - loss: 0.3699 - acc: 0.8798 - val_loss: 0.3373 - val_acc: 0.8951
- Epoch 3: 1290S - loss: 0.3681 - acc: 0.8798 - val_loss: 0.3571 - val_acc: 0.8951

In [ ]:
model.save('GRU_model_1')

# SimpleRNN

In [15]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding,Dense,SimpleRNN
from tensorflow.keras.initializers import Constant

def Simple_RNN():
    model = Sequential()
    embedding_layer = Embedding(vocab_len,50,embeddings_initializer = Constant(word_matrix),input_length=longest_sentence_len,trainable=False)
    model.add(embedding_layer)
    model.add(SimpleRNN(128, activation = 'tanh', dropout = 0.1))
    model.add(Dense(1, activation='sigmoid'))
    model.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy'])
    return model

In [16]:
model2 = Simple_RNN()
model2.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 2831, 50)          5603050
_________________________________________________________________
simple_rnn (SimpleRNN)       (None, 128)               22912
_________________________________________________________________
dense (Dense)                (None, 1)                 129
=================================================================
Total params: 5,626,091
Trainable params: 23,041
Non-trainable params: 5,603,050
_________________________________________________________________

In [17]:
model2.fit(train_padded,train_attack,batch_size=128, epochs=3, validation_data=(test_padded,test_attack),verbose=1)

Train on 92660 samples, validate on 23164 samples
Epoch 1/3
92660/92660 [==============================] - 2336s 25ms/sample - loss: 0.1095 - accuracy: 0.8725 - val_loss: 0.0966 - val_accuracy: 0.8917
Epoch 2/3
92660/92660 [==============================] - 2388s 26ms/sample - loss: 0.1054 - accuracy: 0.8804 - val_loss: 0.0968 - val_accuracy: 0.8917
Epoch 3/3
92660/92660 [==============================] - 2506s 27ms/sample - loss: 0.1054 - accuracy: 0.8804 - val_loss: 0.0968 - val_accuracy: 0.8917

In [ ]:
model2.save('Simple_RNN_1')