In [1]:
#pip install pandas
#pip install nltk
#pip install tokenizer

In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
comments = pd.read_csv('../../data/attack_annotated_comments.tsv', sep='\t')
labels = pd.read_csv('../../data/attack_annotations.tsv', sep='\t')

In [4]:
comments = comments.drop(columns=['year','logged_in','ns','sample','split'])

In [5]:
comments

           rev_id                                            comment
0           37675  `-NEWLINE_TOKENThis is not ``creative``.  Thos...
1           44816  `NEWLINE_TOKENNEWLINE_TOKEN:: the term ``stand...
2           49851  NEWLINE_TOKENNEWLINE_TOKENTrue or false, the s...
3           89320   Next, maybe you could work on being less cond...
4           93890               This page will need disambiguation.
...           ...                                                ...
115859  699848324  `NEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKENThese ...
115860  699851288  NEWLINE_TOKENNEWLINE_TOKENThe Institute for Hi...
115861  699857133  NEWLINE_TOKEN:The way you're trying to describ...
115862  699891012  NEWLINE_TOKENNEWLINE_TOKEN== Warning ==NEWLINE...
115863  699897151  Alternate option===NEWLINE_TOKENIs there perha...

[115864 rows x 2 columns]

In [6]:
labels = labels.drop(columns=['worker_id','quoting_attack','recipient_attack','third_party_attack','other_attack'])

In [7]:
labels

            rev_id  attack
0            37675     0.0
1            37675     0.0
2            37675     0.0
3            37675     0.0
4            37675     0.0
...            ...     ...
1365212  699897151     0.0
1365213  699897151     0.0
1365214  699897151     0.0
1365215  699897151     0.0
1365216  699897151     0.0

[1365217 rows x 2 columns]

In [8]:
res = labels.groupby('rev_id')['attack'].mean().reset_index()

In [9]:
res

           rev_id    attack
0           37675  0.000000
1           44816  0.000000
2           49851  0.000000
3           89320  0.444444
4           93890  0.000000
...           ...       ...
115859  699848324  0.111111
115860  699851288  0.100000
115861  699857133  0.000000
115862  699891012  0.200000
115863  699897151  0.000000

[115864 rows x 2 columns]

In [10]:
data = comments.join(res.set_index('rev_id'), on='rev_id')
data['attack'] = data['attack'].round(0)

In [11]:
data

           rev_id                                            comment  attack
0           37675  `-NEWLINE_TOKENThis is not ``creative``.  Thos...     0.0
1           44816  `NEWLINE_TOKENNEWLINE_TOKEN:: the term ``stand...     0.0
2           49851  NEWLINE_TOKENNEWLINE_TOKENTrue or false, the s...     0.0
3           89320   Next, maybe you could work on being less cond...     0.0
4           93890               This page will need disambiguation.      0.0
...           ...                                                ...     ...
115859  699848324  `NEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKENThese ...     0.0
115860  699851288  NEWLINE_TOKENNEWLINE_TOKENThe Institute for Hi...     0.0
115861  699857133  NEWLINE_TOKEN:The way you're trying to describ...     0.0
115862  699891012  NEWLINE_TOKENNEWLINE_TOKEN== Warning ==NEWLINE...     0.0
115863  699897151  Alternate option===NEWLINE_TOKENIs there perha...     0.0

[115864 rows x 3 columns]

In [12]:
data.info()
data.isnull().values.any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115864 entries, 0 to 115863
Data columns (total 3 columns):
rev_id     115864 non-null int64
comment    115864 non-null object
attack     115864 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.7+ MB

False

In [13]:
# for index,row in data.iterrows():
#     data['comment'][index] = data['comment'][index].replace("NEWLINE_TOKEN","")
#     data['comment'][index] = data['comment'][index].replace("TAB_TOKEN","")
#     data['comment'][index] = data['comment'][index].replace("``",'"')
    
data['comment'] = data['comment'].apply(lambda x: x.replace("NEWLINE_TOKEN",""))
data['comment'] = data['comment'].apply(lambda x: x.replace("TAB_TOKEN",""))
data['comment'] = data['comment'].apply(lambda x: x.replace("``",'"'))

In [14]:
# Source: https://www.kaggle.com/prashantkikani/pooled-gru-with-preprocessing
repl = {
    "&lt;3": " good ",
    ":d": " good ",
    ":dd": " good ",
    ":p": " good ",
    "8)": " good ",
    ":-)": " good ",
    ":)": " good ",
    ";)": " good ",
    "(-:": " good ",
    "(:": " good ",
    "yay!": " good ",
    "yay": " good ",
    "yaay": " good ",
    "yaaay": " good ",
    "yaaaay": " good ",
    "yaaaaay": " good ",
    ":/": " bad ",
    ":&gt;": " sad ",
    ":')": " sad ",
    ":-(": " bad ",
    ":(": " bad ",
    ":s": " bad ",
    ":-s": " bad ",
    "&lt;3": " heart ",
    ":d": " smile ",
    ":p": " smile ",
    ":dd": " smile ",
    "8)": " smile ",
    ":-)": " smile ",
    ":)": " smile ",
    ";)": " smile ",
    "(-:": " smile ",
    "(:": " smile ",
    ":/": " worry ",
    ":&gt;": " angry ",
    ":')": " sad ",
    ":-(": " sad ",
    ":(": " sad ",
    ":s": " sad ",
    ":-s": " sad ",
    r"\br\b": "are",
    r"\bu\b": "you",
    r"\bhaha\b": "ha",
    r"\bhahaha\b": "ha",
    r"\bdon't\b": "do not",
    r"\bdoesn't\b": "does not",
    r"\bdidn't\b": "did not",
    r"\bhasn't\b": "has not",
    r"\bhaven't\b": "have not",
    r"\bhadn't\b": "had not",
    r"\bwon't\b": "will not",
    r"\bwouldn't\b": "would not",
    r"\bcan't\b": "can not",
    r"\bcannot\b": "can not",
    r"\bi'm\b": "i am",
    "m": "am",
    "r": "are",
    "u": "you",
    "haha": "ha",
    "hahaha": "ha",
    "don't": "do not",
    "doesn't": "does not",
    "didn't": "did not",
    "hasn't": "has not",
    "haven't": "have not",
    "hadn't": "had not",
    "won't": "will not",
    "wouldn't": "would not",
    "can't": "can not",
    "cannot": "can not",
    "i'm": "i am",
    "m": "am",
    "i'll" : "i will",
    "its" : "it is",
    "'s" : " is",
    "'s" : " is",
    "`d": " would",
    "that's" : "that is",
    "weren't" : "were not",
    "e.g" : "eg",
}

In [15]:
comments = data['comment'].apply(lambda x: x.split())

In [16]:
data['comment'][0]

'`-This is not "creative".  Those are the dictionary definitions of the terms "insurance" and "ensurance" as properly applied to "destruction".  If you don\'t understand that, fine, legitimate criticism, I\'ll write up "three man cell" and "bounty hunter" and then it will be easy to understand why "ensured" and "insured" are different - and why both differ from "assured".The sentence you quote is absolutely neutral.  You just aren\'t familiar with the underlying theory of strike-back (e.g. submarines as employed in nuclear warfare) guiding the insurance, nor likely the three man cell structure that kept the IRA from being broken by the British.  If that\'s my fault, fine, I can fix that to explain.  But ther\'es nothing "personal" or "creative" about it.I\'m tired of arguing with you.  Re: the other article, "multi-party" turns up plenty, and there is more use of "mutually" than "mutual".  If I were to apply your standard I\'d be moving "Mutual Assured Destruction" to "talk" for not appealing to a Reagan voter\'s biases about its effectiveness, and for dropping the "ly".There is a double standard in your edits.  If it comes from some US history book, like "peace movement" or \'M.A.D.\' as defined in 1950, you like it, even if the definition is totally useless in 2002 and only of historical interest.  If it makes any even-obvious connection or implication from the language chosen in multiple profession-specific terms, you consider it somehow non-neutral...  Gandhi thinks "eye for an eye" describes riots, death penalty, and war all at once, but you don\'t.  What do you know that Gandhi doesn\'t?Guess what:  reality is not neutral.  Current use of terms is slightly more controversial.  Neutrality requires negotiation, and some willingness to learn.This is your problem not mine.  You may dislike the writing, fine, that can be fixed.  But disregarding fundamental axioms of philosphy with names that recur in multiple phrases, or failing to make critical distinctions like \'insurance\' versus \'assurance\' versus \'ensurance\' (which are made in one quote by an Air Force general in an in-context quote), is just a disservice to the reader.If someone comes here to research a topic like MAD, they want some context, beyond history.If this is a history book, fine, it\'s a history book.  But that wasn\'t what it was claimed to be...`'

In [17]:
import re
abbr = [i for i in repl.keys()]
result = []
for index in range(len(comments)):
    new_comment = ""
    for word in comments[index]:
        word = word.lower()
        word = re.sub(r"n't", " not", word)
        word = re.sub(r"\ 's", " not", word)
        word = re.sub(r"\ 've", " not", word)
        word = re.sub(r"\ 'd", " not", word)
        word = re.sub(r"\ ll", " not", word)
        if re.search("^http.+|^www.+",word): # Odkazy nechceme
            continue
        elif word in abbr:
            new_comment += repl[word]
            new_comment += " "
            word = repl[word]
        elif re.search("[^a-zA-Z ]+",word):
            new_comment += re.sub("[^a-zA-Z ]+"," ",word) #tod otazka ci tam nehame cisla
            new_comment += " "
        else:
            new_comment += word  
            new_comment += " "
            
    new_comment = " ".join(new_comment.split())        
   # print("Old = ", comments[index])
   # print("New = ", new_comment)
    result.append(new_comment)
data["comment"] = result

In [18]:
pd.options.display.max_rows = 999
data

           rev_id                                            comment  attack
0           37675  this is not creative those are the dictionary ...     0.0
1           44816  the term standard model is itself less npov th...     0.0
2           49851  true or false the situation as of march was su...     0.0
3           89320  next maybe you could work on being less condes...     0.0
4           93890                 this page will need disambiguation     0.0
...           ...                                                ...     ...
115859  699848324  these sources do not exactly exude a sense of ...     0.0
115860  699851288  the institute for historical review is a peer ...     0.0
115861  699857133  the way you re trying to describe it in this a...     0.0
115862  699891012  warning there is clearly a protectionist regim...     0.0
115863  699897151  alternate option is there perhaps enough newsw...     0.0

[115864 rows x 3 columns]

In [19]:
data.info()
data.isnull().values.any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115864 entries, 0 to 115863
Data columns (total 3 columns):
rev_id     115864 non-null int64
comment    115864 non-null object
attack     115864 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.7+ MB

False

In [20]:
data['comment'].replace('', np.nan, inplace=True)

In [21]:
data[data['comment'] == ''].index

Int64Index([], dtype='int64')

In [22]:
data.dropna(subset=['comment'], inplace=True)
data = data.reset_index(drop=True)

# Stemming

In [23]:
from nltk.stem import SnowballStemmer

def stemmer(comment):
    stemmer = SnowballStemmer('english')
    words = comment.split()
    stemmed = [stemmer.stem(word) for word in words]
    stemmed
    return " ".join(stemmed)

t = data['comment'].map(lambda x: stemmer(x))

In [24]:
data['stemmed_comments'] = t
#data

In [27]:
data.to_csv('../../data/preprocessed_data.csv', encoding='utf-8')

# Tokenizing

In [30]:
data= pd.read_csv('../../data/preprocessed_data.csv', index_col=0)

In [37]:
import tensorflow.keras as keras
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from nltk.tokenize import word_tokenize

In [26]:
tokenizer = Tokenizer()

# Training of our tokenizer
tokenizer.fit_on_texts(data['stemmed_comments'])
#tokenizer.fit_on_texts(data['comment'])

# Number of unique words in our data
vocab_len = len(tokenizer.word_index) + 1

#converting our comment into numeric form, each unique word has a number, som comment will be rewrite into numbers
embedded = tokenizer.texts_to_sequences(data['stemmed_comments'])
#embedded = tokenizer.texts_to_sequences(data['comment'])
print(embedded[0])

[13, 8, 11, 2516, 161, 17, 1, 1681, 437, 6, 1, 270, 3234, 5, 1934, 19, 565, 653, 2, 2134, 26, 4, 21, 11, 224, 9, 727, 1208, 397, 3, 42, 227, 83, 439, 402, 1761, 5, 11568, 3963, 5, 93, 10, 42, 15, 1137, 2, 224, 84, 1934, 5, 3234, 17, 209, 5, 84, 256, 209, 34, 2143, 1, 465, 4, 378, 8, 800, 417, 4, 54, 17, 11, 1310, 24, 1, 240, 561, 6, 1790, 173, 309, 556, 7220, 19, 1864, 12, 2673, 4219, 1284, 1, 3234, 610, 47, 1, 439, 402, 1761, 1479, 9, 1271, 1, 3224, 34, 15, 1875, 33, 1, 598, 26, 9, 8, 30, 2001, 727, 3, 43, 546, 9, 2, 290, 29, 6230, 3896, 254, 94, 27, 2516, 39, 10, 3, 318, 1859, 6, 724, 24, 4, 104, 1, 55, 22, 3025, 470, 711, 83, 1768, 5, 45, 8, 67, 52, 6, 2935, 105, 2935, 26, 3, 92, 2, 653, 23, 509, 3, 162, 15, 294, 2935, 2143, 2134, 2, 60, 14, 11, 1375, 2, 7, 5663, 3593, 20, 389, 39, 10, 8, 668, 5, 14, 1140, 1, 15135, 45, 8, 7, 1377, 509, 12, 23, 36, 26, 10, 189, 34, 68, 228, 200, 236, 47, 1313, 1074, 27, 318, 7, 162, 19, 888, 12, 4, 47, 10, 103, 26, 1, 437, 8, 588, 1059, 12, 5, 88, 6, 655, 226, 26, 10, 74, 63, 103, 354, 907, 27, 2613, 34, 1, 304, 2120, 12, 862, 2875, 409, 270, 4, 206, 10, 1500, 338, 417, 5146, 70, 778, 14, 31, 778, 538, 3225, 672, 4467, 5, 232, 44, 38, 429, 29, 4, 21, 11, 37, 21, 4, 71, 9, 5146, 87, 11, 619, 37, 1114, 8, 11, 417, 279, 52, 6, 270, 8, 1758, 67, 601, 417, 518, 3651, 5, 68, 5060, 2, 512, 13, 8, 23, 220, 11, 993, 4, 110, 2285, 1, 227, 727, 9, 43, 15, 546, 29, 2766, 1908, 7756, 6, 52850, 24, 99, 9, 5244, 12, 862, 966, 27, 632, 2, 74, 397, 1357, 47, 3234, 3437, 2143, 3437, 1934, 58, 17, 146, 12, 51, 378, 33, 31, 1060, 570, 327, 12, 31, 12, 795, 378, 8, 54, 7, 6574, 2, 1, 622, 26, 170, 189, 69, 2, 361, 7, 399, 47, 2053, 49, 98, 68, 795, 1258, 200, 26, 13, 8, 7, 200, 236, 727, 10, 20, 7, 200, 236, 29, 9, 25, 11, 37, 10, 25, 179, 2, 15]

In [27]:

longest_sentence_len = len(max(embedded, key= len))

#Adding zeroes to end of eat embeded sentece to len of the longest sentence
padded_comments = pad_sequences(embedded, longest_sentence_len, padding='post')

In [28]:
len(embedded[0])

403

In [29]:
padded_comments

array([[  13,    8,   11, ...,    0,    0,    0],
       [   1,  270,  509, ...,    0,    0,    0],
       [ 374,   27,  511, ...,    0,    0,    0],
       ...,
       [   1,  119,    4, ...,    0,    0,    0],
       [ 308,   45,    8, ...,    0,    0,    0],
       [ 980, 1486,    8, ...,    0,    0,    0]], dtype=int32)

# Glove embeddings

In [32]:
glove = open('../../data/glove.6B.50d.txt', encoding="utf8")
from numpy import array
from numpy import asarray

In [33]:
# Preparing glove dictonary
glove_dict = dict()

#according to glove file, first is word and next are vectors
for line in glove:
    splitted = line.split()
    word = splitted[0]
    vectors = asarray(splitted[1:], dtype='float32')
    glove_dict [word] = vectors


glove.close()

In [50]:
from numpy import zeros
zle = 0
# create dict with only words in out data
word_matrix = zeros((vocab_len, 50))
# iterate throuh all words in our data and find vector for them
for word, index in tokenizer.word_index.items():
    ebvc = glove_dict.get(word)
    if ebvc is not None:
        word_matrix[index] = ebvc